.body{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
}

.nav{
	background-color: #f8f8f8;
	color: #808080;	
}
a {
    text-decoration: none;
    color: #808080;	
}
a:hover{
	color: #1abc9c;	
	text-decoration: none;
}
.block{	
	height: 684px;
	background-color: #1abc9c;
	color: #FFFFFF;	
}
.text1{
	font-size: 20px;
	color: #FFFFFF;
}
.img2{
	border-radius: 200px;
	transition: 1s;
}

.tabl{
	padding-bottom: 100px;
}
.root{
	font-size: 16px;
}
.text2{
	margin: 30px;
	font-size: 16px;
	color: #FFFFFF;
}
.block2{
	background-color: #474e5d;
}
